@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

html {
    font-size: 10px;
    --color-white: white;
    --color-orange: #ffb742;
}

.cards{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    
}

.card {
    width: 31.5%;
    background: #292b2e;
    color: var(--color-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.card:hover{
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}

.card:hover .card-title, .card:hover .card-subtitle{
    color: #212529;
}

.card-title {
    font-size: 3.2rem;
    color: var(--color-orange);
}
.card-subtitle {
    font-size: 1.6rem;
    color: var(--color-white);
}
